@font-face {
  font-family: "VL Pゴシック";
  font-display: swap;
  src: url("https://cdn.leafscape.be/VLGothic/VL-PGothic-Regular_web.woff2")
    format("woff2");
}
html,
body {
  font-family: "VL Pゴシック", sans-serif;
  color: #454545;
  background-color: #fff;
  line-height: 1.8;
}
pre {
  background-color: #222 !important;
}
